.mainGame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    padding: 20px;
    color: white;
}

.mainGame>h1 {
    margin-top: 10px;
    font-size: 50px;
}

.playerContainer {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.playerOne,
.playerTwo {
    background: #1e293b;
    padding: 25px;
    border-radius: 16px;
    text-align: center;
    min-width: 220px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.playerOne div,
.playerTwo div {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.dado {
    font-size: 70px;
}

.dado-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background: #22c55e;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #16a34a;
    transform: scale(1.05);
}

button:disabled {
    background: gray;
    cursor: not-allowed;
    transform: none;
}


.resultado {
    text-align: center;
    font-size: 20px;
}

.placar {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
    font-size: 30px;
}

.final {
    margin-top: 15px;
    font-size: 30px;

    text-align: center;
}